{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h4 class="text-primary">{{ .Title }}</h4>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          <!-- {{ .Date.Format "Jan 2, 2006" }} -->
          {{ .Date.Format "2006/01/02" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <section>
    <br />
    <hr class="custom_line" />
    {{ .Content }}

    {{ if ne .RelPermalink "/about/" }}
    <br /><br />
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    {{ end }}

  </section>
  <footer>
    {{ with .Site.Params.disqus }}
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    <hr class="custom_line">

    <!-- <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Params.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </div>
      <div class="author-meta col-md-6">
        {{ with .Site.Params.author }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
      {{ with .Site.Params.contact }}
      <div class="author-contact col-md-4">
        <a href="{{ . }}">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          &nbsp;Contact me
        </a>
      </div>
      {{ end }}
    </section> -->
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
