{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h4 class="text-primary">{{ .Title }}</h4>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          <!-- {{ .Date.Format "Jan 2, 2006" }} -->
          {{ .Date.Format "2006/01/02" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <section>
    <br />
    <!--シェアボタン-->
    <div class="share-flat">
    <span style="font-size: 8px">シェアする</span>
    <div class="share-flat-inner">
    <!--はてブ-->
    <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" class="hatena-bookmark-button" target="_blank" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><i class="fa fa-hatena"></i><br> <span class="hatebu-count small-text"><i class="fa fa-spinner fa-spin"></i></span></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <!--Facebook-->
    <a href="http://www.facebook.com/share.php?u={{ .Permalink }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="facebook-button"><i class="fa fa-facebook"></i><br><span class="facebook-count small-text"><i class="fa fa-spinner fa-spin"></i></span></a>
    <!--Twitter-->
    <a href="http://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}" target="_blank" class="twitter-button"><i class="fa fa-twitter"></i><br><span class="small-text">Twitter</span></a>
    <!--ググタス-->
    <a href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="googleplus-button"><i class="fa fa-google-plus"></i><br><span class="small-text">Google</span></a>
    <!--Pocket-->
    <a href="http://getpocket.com/edit?url={{ .Permalink }}" class="pocket-button" target="_blank"><i class="fa fa-get-pocket"></i><br><span class="small-text">Pocket</span></a>
    <!--ライン-->
    <span class="line-hide">
    <a href="http://line.me/R/msg/text/?{{ .Title }} {{ .Permalink }}" class="line-button">
    <img src="http://cdn-ak.f.st-hatena.com/images/fotolife/f/ftmaccho/20150905/20150905143148.png" width="18px" height="18px" alt="LINEで送る" /><br><span class="small-text">Line</span>
    </a></span>
    </div>
    </div>
    <hr class="custom_line" />
    {{ partial "ads.html" .}}
    <br />
    <hr class="custom_line" />
    <br />
    {{ .Content }}
    <hr class="custom_line" />
    {{ partial "ads.html" .}}
    {{ if ne .RelPermalink "/about/" }}
    <br /><br />
    <!-- <img src="/images/dummy.png" style="width:5px;height:5px;" />
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script> -->



    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--シェア数の数字-->
    <script>
    //Facebookのシェア数を取得
    function get_social_count_facebook(url, selcter) {
      jQuery.ajax({
        url:'https://graph.facebook.com/',
        dataType:'jsonp',
        data:{
          id:url
        },
        success:function(res){
          jQuery( selcter ).text( res.shares || '0' );
        },
        error:function(){
          jQuery( selcter ).text('0');
        }
      });
    }
    //はてなブックマークではてブ数を取得
    function get_social_count_hatebu(url, selcter) {
      jQuery.ajax({
        url:'http://api.b.st-hatena.com/entry.count?callback=?',
        dataType:'jsonp',
        data:{
          url:url
        },
        success:function(res){
          jQuery( selcter ).text( res || '0' );
        },
        error:function(){
          jQuery( selcter ).text('-');
        }
      });
    }
    jQuery(function(){
      get_social_count_facebook('{{ .Permalink }}', '.facebook-count');
      get_social_count_hatebu('{{ .Permalink }}', '.hatebu-count');
    });
    </script>


<!--シェアボタン-->
<div class="share-flat">
<span style="font-size: 8px">シェアする</span>
<div class="share-flat-inner">
<!--はてブ-->
<a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" class="hatena-bookmark-button" target="_blank" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><i class="fa fa-hatena"></i><br> <span class="hatebu-count small-text"><i class="fa fa-spinner fa-spin"></i></span></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

<!--Facebook-->
<a href="http://www.facebook.com/share.php?u={{ .Permalink }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="facebook-button"><i class="fa fa-facebook"></i><br><span class="facebook-count small-text"><i class="fa fa-spinner fa-spin"></i></span></a>
<!--Twitter-->
<a href="http://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}" target="_blank" class="twitter-button"><i class="fa fa-twitter"></i><br><span class="small-text">Twitter</span></a>
<!--ググタス-->
<a href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="googleplus-button"><i class="fa fa-google-plus"></i><br><span class="small-text">Google</span></a>
<!--Pocket-->
<a href="http://getpocket.com/edit?url={{ .Permalink }}" class="pocket-button" target="_blank"><i class="fa fa-get-pocket"></i><br><span class="small-text">Pocket</span></a>
<!--ライン-->
<span class="line-hide">
<a href="http://line.me/R/msg/text/?{{ .Title }} {{ .Permalink }}" class="line-button">
<img src="http://cdn-ak.f.st-hatena.com/images/fotolife/f/ftmaccho/20150905/20150905143148.png" width="18px" height="18px" alt="LINEで送る" /><br><span class="small-text">Line</span>
</a></span>
</div>
</div>
    {{ end }}

  </section>
  <footer>
    {{ with .Site.Params.disqus }}
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    <hr class="custom_line">

    <!-- <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Params.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </div>
      <div class="author-meta col-md-6">
        {{ with .Site.Params.author }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
      {{ with .Site.Params.contact }}
      <div class="author-contact col-md-4">
        <a href="{{ . }}">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          &nbsp;Contact me
        </a>
      </div>
      {{ end }}
    </section> -->
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
