<div class="sns-links hidden-print">
  {{ with .Site.Params.contact }}
  <a href="{{ . }}">
    <i class="fa fa-envelope"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <a href="https://instagram.com/{{ . }}" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <a href="https://plus.google.com/+{{ . }}" target="_blank">
    <i class="fa fa-google"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <a href="https://facebook.com/{{ . }}" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.github }}
  <a href="https://github.com/{{ . }}" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{ . }}" target="_blank">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <a href="https://linkedin.com/in/{{ . }}" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.keybase }}
  <a href="https://keybase.io/{{ . }}" target="_blank">
    <i class="fa fa-key"></i>
  </a>
  {{ end }}
  <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fblog.sgr-ksmt.org%2Findex.xml' target='blank'>
    <i class="icon-feedly"></i>
  </a>
  <a href="http://blog.sgr-ksmt.org/index.xml" target='blank'>
    <i class="fa fa-rss"></i>
  </a>

</div>
